@{
    ViewBag.Title = "Welcome";
}


<section id="home-section">
    <div class="head-bg">
        <div class="head-text">
            <h4 style="font-size:2.2em;color:white"><b>Wanna Rent Some Movies ?</b></h4>
            <p style="color:whitesmoke">
                <ul style="list-style-type:circle">
                    <li>Only $2 per Week per Movie!</li>
                    <li>Monthly Membership @@ $30 == 10% Off !!</li>
                    <li>Quaterly Membership @@ $90 == 15% Off !!</li>
                    <li>Yearly Membership @@ $300 == 20% Off !!</li>
                </ul>
            </p>
            <button class="btn btn-primary bttn" onclick="@("window.location.href='" + @Url.Action("New", "Rentals") + "'");">Start Renting...</button>
        </div>
    </div>
</section>